<div class="qrcode-image">
<div<% _slim_codeattributes1 = str; if _slim_codeattributes1; if _slim_codeattributes1 == true %> data-url=""<% else %> data-url="<%= _slim_codeattributes1 %>"<% end; end %> id="image-tag">
</div><p><%= t('qrcodetips') %></p>
</div>
