<div class="row">
<div class="small-12 medium-12 large-9 columns">
<h2>订阅
</h2>
<% _slim_controls1 = simple_form_for @subscribe do |f|
 %><%= f.input :email %>
<%= f.button :submit, value: '訂閱', data: { 'disable-with'=> '訂閱中...' } %>
<% end %><%= _slim_controls1 %></div></div>
