
<h4>WELCOME</h4>
<p>I'm Li Yafei, WinDy is my English name.
</p>
<h4>ABOUT</h4>
<ul class="aboutme-index">
<li>
<span>Industry:</span>
<span>Web Development, Startups, Life</span>
</li><li>
<span>Location:</span>
<span>Nan Shan District, ShenZhen, China</span>
</li><li>
<span>More:</span>
<span>
<%= ::Temple::Utils.escape_html((link_to 'About Me', about_path)) %>
</span></li></ul>
