<div class="row">
<div class="small-12 columns">
<div class="footer">
<div>
<span class="link"><%= ENV['SITE_ADDRESS'] %>
</span><span class="time"><%= ENV['SITE_YEAR'] %>
</span></div></div></div></div>

<script>
$(function() {
  $(".alert").fadeOut(3000)
  $(".success").fadeOut(3000)
})
</script>

